{{ ansible_managed | comment }}
[Unit]
Description=VictoriaMetrics {{ _vmu_bin }} service
After=network.target

[Service]
Type=simple
User={{ _vmu_system_user }}
Group={{ _vmu_system_group }}
Restart=always
ExecStart={{ _victoriametrics_binary_install_dir }}/vm{{ _vmu_bin }}-prod \
{% for flag in vars['victoriametrics_' + _vmu_bin + '_flags'] %}
    {{ flag }} \
{% endfor %}
{% if _vmu_bin == "storage" %}
    -storageDataPath {{ victoriametrics_storage_path }}
{% else %}
    {% set storage_node = vars['victoriametrics_' + _vmu_bin + '_storage_node'] %}
    -storageNode {% for node in storage_node%}{{ node }}{% if not loop.last %},{% endif %}{% endfor %}
{% endif %}

PrivateTmp=yes
ProtectHome=yes
NoNewPrivileges=yes

ProtectSystem=full

{% if _systemd_version | int >= 232 %}
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=yes
{% endif %}

[Install]
WantedBy=multi-user.target